@charset "utf-8";
/* CSS Document */

a.nav{
padding-right: 10px;
padding-left: 10px;
text-decoration:none;
color:#000;
}

a.nav:hover{
padding-right: 10px;
padding-left: 10px;
text-decoration:none;
color:#FFFFFF;
}

a.whitelink{
color: #FFFFFF;
font-family:Arial, Helvetica, sans-serif;
text-align: left;
font-size: 12px;
text-decoration:underline;
}

/*Body Container Elements*/

#sharethis{
	left: 640px;
    position: absolute;
    top: 20px;
    z-index: 5;
}

#leftarrow{
	position: absolute;
	left: 7px;
	top:240px;
	z-index:15;
	
	width:36px;
	height:50px;
	
}
a #leftarrow {
	text-decoration:none;
		
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_elements_lbutton.png);
	background-repeat:no-repeat;	
}
a #leftarrow:hover{
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_elements_lbuttonorange.png);	
}

#rightarrow{
	position: absolute;
	top: 240px;
	right: 13px;
	z-index: 15;
	
	width:36px;
	height:50px;
	
}
a #rightarrow {
	text-decoration:none;
		
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_rbutton.png);
	background-repeat:no-repeat;
}
a #rightarrow:hover{
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_elements_rbuttonorange.png);
}

#leftarrow.hidden, #rightarrow.hidden {
	display:none;	
}

#forcentering{
	position:absolute;
	height: 477px;
	top: 60px;
    width: 840px;
	left: 60px;
}

#dwrapper{
	margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 775px;
    z-index: 5;	
}

.imgwrapper{
	position: relative;
	height: 180px;
	width:190px;
	z-index:5;
	display: inline-block;
	text-align: center;
}

.pname{
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 185px;
    
    color:#FFF;
    font-weight:bold;
}

.pdetails{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:185px;
	color:#FFF;
}
.pdetails select{
	margin:5px;	
}

.price{
	position:relative;
	
}

#bodyHeader table{
	text-align:left;	
}


/* TOOLTIP */
.size-qty-wrapper, .desc-wrapper{
	font-size:12px;
	padding:5px;	
}
.size-qty-wrapper .size{
	float:left;
	
}
.size-qty-wrapper .quantity{
	float:right;
}
.description-wrapper{
	font-size:12px;	
}

.acc_prod_wrapper{
	float:left;	
}