@CHARSET "ISO-8859-1";

#receipt-table{
	width:100%;	
}
#receipt-table TH, #receipt-table TD{
	padding:5px;	
}
#receipt-table .header TH, #receipt-table TR TH:hover{
	font-weight:bold;
	font-size:16px;	
	background-color:#222;
	padding:8px;
}
#receipt-table TR:hover{
	background-color:#333;	
}
#receipt-table TR.no-hover:hover{
	background-color:transparent;	
}
.border-rad-left{
	border-radius:5px 0px 0px 5px;
	-moz-border-radius:5px 0px 0px 5px;
}
.border-rad-right{
	border-radius:0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
}

.total, .unit, .tax, .sub, .grand{
	text-align:right;	
}
.qty{
	text-align:right;	
}
.sub, .grand{
	font-weight:bold;	
}
.grand{
	font-size:16px;	
}
#receipt-table TD.sub.total{
	border-top:solid #FFF 1px;	
}
#receipt-table TD.grand.total{
	border-top:solid #fff 2px;	
}

#receipt-table TD.product-details{
	padding-left:20px;	
}

.color{
	padding-right:20px;
}


#receipt-wrapper{
	float:left;
	width:600px;	
}
#details-wrapper{
	width:270px;
	padding:13px 0px;
	float:right;
}
.title{
	color: #FBB040;
	font-weight: bold;
	text-align: left;
	font-size:14px;	
}
input.line{
	width:255px;	
}
.line-3{
	display:inline-block;	
	text-align:left;
}
.city{
	width:105px;	
}
.state{
	width:40px;	
}
.zip{
	width:75px;	
}


/* Overwrite The LT BG */
#tableContainer td.bg-main{
	padding:0px;
	margin:0px;	
}
#container-light .top{
	height:20px;
} 	
#container-light .bottom{
	height:20px;	
}
#container-light .left{
	width:25px;
} 
#container-light .right{
	width:20px;	
}
	
#tableContainer .left {
	width: 20px;
}



/* ERRORS */
#error-console{
	background-color: #C96A61;
	padding:8px;
	margin: 15px 15px 0px 15px;
}
#error-console div{
	padding:2px 0px;	
}
.ename{
	display:inline-block;
	width:130px;
	padding-left:25px;
	padding-right:20px;
	background-image: url('/img/icons/error.png');
	background-repeat:no-repeat;	
}
.error{
	background-color:#DDACA6;
}
.eline2{
	padding-left:175px;	
}