/* FORMS */
body{
	font-family:arial;	
	color:#FFF;
	
	width: 100%;
	
	background-color:#333;
	background-repeat:no-repeat;
	
	margin: 0px;
	padding: 0px;
	
	overflow:auto;
	
	font-size:12px;
}

input, select, textarea{
	background-color:#CCC;	
	color: #333;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: none;
	
	border-radius: 5px;
}
input, textarea{
	padding: 5px;
}
select{
	padding: 4px;
	margin:0px;
}
input[type="checkbox"]{
	background-color:transparent;	
}
a{
	text-decoration:none;
	font-family:arial;	
	color:#FFF;
	font-size:12px;
	outline:0;	
}
a:hover, a:active, a:focus {
    outline:0;
}
th{
	font-weight:bold;
	padding:5px;
}
td{
	text-align:middle;	
}
input.one{
	color: #333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #FBB040;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

.title{
	color: #FBB040;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 14px;
	padding-left: 6px;
}

/* SCHOOL LIST */
#list-schools{
	height:390px;
	overflow:auto;
}
#list-schools a{
	color:#FFF;
	text-decoration:none;
	padding:5px;
	display:inline-block;	
	width:100%;
}
#list-schools li{
	padding-right:50px;	
}
#list-schools li.loading{
	background-image:url(/img/ajax/loading.gif);
	background-position:95% center;
	background-repeat:no-repeat;	
}
#list-schools li.added{
	background-image:url(/img/ajax/check.png);
	background-position:95% center;
	background-repeat:no-repeat;
}
#list-schools li.fail{
	background-image:url(/img/ajax/fail.png);
	background-position:95% center;
	background-repeat:no-repeat;
}
#list-schools li.heart{
	background-image:url(/img/ajax/heart_red.png);
	background-position:95% center;
	background-repeat:no-repeat;
}
#list-schools li.even{
	background-color:transparent;	
}
#list-schools li.odd{
	padding-top:0px;
	background-color:#999;	
}
#list-schools li:hover{
	background-color:#333;
}


/* CART */
p.checkout-pop-count {
	margin-top:30px;
	padding-bottom:5px;
	font-size:16px;	
}
#cart-wrapper table{
	width:100%;
}
#cart-wrapper th{
	color:#FFF;
	font-weight:bold;
	font-size:16px;
	text-align:center;
}
#cart-wrapper td{
	font-size:14px;
	padding:5px;	
}
#cart-wrapper input.qty{
	width:50px;
	text-align:right;
	border:none;
}
#cart-wrapper .cart-one{
	width:60px;
}
#cart-wrapper .cart-two{
	width:auto;
}
#cart-wrapper .cart-three{
	width:80px;
}
#cart-wrapper .cart-details span{
	padding-left:20px;	
}
#cart-wrapper .cart-total{
	font-weight:bold;
	font-size:16px;	
}
#cart-wrapper .cart-trash{
	cursor:pointer;	
}
.quantity{
	display:inline-block;
	float:right;
	margin-left:20px;
}
.quantity input{
	width:100px;
	border:none;
	text-align:right;	
}
.add-to-cart, .checkout, .cancel-checkout{
	margin-top:10px;
	margin-left:5px;
	font-weight:normal;
	cursor:pointer;
}
.cancel-checkout{
	margin-left:30px;	
}
.checkout, .cancel-checkout{
	float:right;	
}
.qtip-title{
	font-size:14px;	
}


.border-rad-small{
	border-radius:3px;
	-moz-border-radius: 3px;
}
.border-rad-med{
	border-radius:5px;
	-moz-border-radius: 5px;
}
.border-rad-large{
	border-radius:8px;
	-moz-border-radius: 8px;
}

/* ERRORS */
#error-console{
	background-color: #C96A61;
	padding:8px;
	margin: 15px 15px 0px 15px;
}
#error-console div{
	padding:2px 0px;	
}
.ename{
	display:inline-block;
	width:130px;
	padding-left:25px;
	padding-right:20px;
	background-image: url('/img/icons/error.png');
	background-repeat:no-repeat;	
}
.error{
	background-color:#DDACA6;
}
.eline2{
	padding-left:175px;	
}
#flashMessage{
	display:inline-block;	
}


/* SCHOOL SELECTOR STUFF */
#bodyHeader .bg-main{
	text-align:center;	
}
#selector{
	display: block;
    float:right;
}
#selector td{
	vertical-align:top;
	padding:2px 0px;	
}

#gender{
	margin-top:-7px;
}

#logoschool{
	float: right;
    margin-top: 5px;
    position: relative;
}

#cart{
	float: right;
	margin-top: 0px;
	cursor:pointer;
}

#favorite{
	display:block;
	float: right;
	margin-top: 7px;
	background-repeat:no-repeat;
	width:14px;
	height:13px;
	cursor:pointer;
}

#favorite.heart-no{
	background-image:url('/img/ajax/heart_small.png');	
}
#favorite.heart{
	background-image:url('/img/ajax/heart_small_red.png');	
}

#search{
	float: right;
	margin-top: 7px;
	cursor:pointer;
}

/* BACKGROUND IMAGE */
#background-wrapper{
	min-width: 1024px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;	
}
#background-wrapper img{
	width:100%;
}

/* VeriSign */
#verisign-wrapper{
	background-color:#CCC;
	border:solid #CCC 2px;
	margin:10px 0px 0px 0px;
	display:inline-block;
	float:right;
}
#verisign-inner{
	background-color:#FFF;
	text-align:right;
	height:57px;
	display:inline-block;
}
#verisign-inner a{
	position:relative;
	top:-8px;
	display:inline-block;
}
#verisign-inner img{
	/*width:100px;
	height:72px;*/	
}