@charset "utf-8";
/* CSS Document */



.btn{
	font-weight:bold;
	background-color:#FBB040;
	cursor:pointer;	
}

.btn.space-left{
	margin-left:10px;	
	display:inline-block;
}
.btn.space-right{
	margin-right:10px;
	display:inline-block;	
}
#navigate{
	font-weight:bold;
	font-size:12px;	
	color:#000;
	
	margin-top:22px;
	
	float:right;
}

a.nav{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration:none;
	color:#000;
}

a.nav:hover{
	text-decoration:none;
	color:#FFFFFF;
}


#background{
	width:100%;
	position:absolute;
	top: 0px;
	left: 0px;
}

#wrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
		
	width: 100%;
}

#mainHeader{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;

	z-index:1;
	
	height:41px;
	
	background-image:url(/img/flyfoenix_header.png);
	background-repeat:repeat-x;
}

#logoHeader{
	position: relative;
	top: 0px;
	left:0px;
	
	height: 41px;
	z-index: 2;
}

#caption{
	position: relative;
	top: 22px;
	left: 330px;
	z-index: 3;
}

#logoFlyFoenix{
	position: absolute;
	margin-top: 2px;
	margin-left: 10px;
	z-index: 3;
}

#bodyHeader{
	position: relative;
	
	margin-left: auto;
	margin-right: auto;

	top: 50px;
	
	z-index: 5;
}
#bodyHeader table{
	text-align:center;
	width:100%;	
}
#bodyHeader .left{
	width:25px;
	height:90px;
	
	background-position:left top;
	background-image:url('/img/layout/bar-left.png');	
}
#bodyHeader .right{
	width:30px;
	height:90px;
	
	background-position:right top;
	background-image:url('/img/layout/bar-right.png');	
}
#bodyHeader .bg-main{
	background-position:top;
	background-image:url('/img/layout/bar-back.png');
}

#bodyContainerDark{
	position:relative;
	
	margin-left:auto;
	margin-right:auto;
	
	background-repeat:no-repeat;
	
	/*z-index:5;*/
	top: 40px;
}

#content{
	
}
p{
	padding:5px 0px;	
}


.width-small{
	width:530px;	
}
.width-medium{
	width:600px;
}
.width-large{
	width:720px;
}
.width-xlarge{
	width:940px;	
}

/* Dark Grey BG */
#tableContainer .top{
	height:50px;
} 	
#tableContainer .bottom{
	height:55px;	
}
#tableContainer .left{
	width:65px;
} 
#tableContainer .right{
	width:70px;	
}

#tableContainer .top.left{
	background-position:top left;
	background-image:url('/img/layout/topleft.png');
	background-repeat:no-repeat;
}
#tableContainer .top.right{
	background-position:top right;
	background-image:url('/img/layout/topright.png');
	background-repeat:no-repeat;	
}
#tableContainer .bottom.right{
	background-position:bottom right;
	background-image:url('/img/layout/bottomright.png');
	background-repeat:no-repeat;		
}
#tableContainer .bottom.left{
	background-position:bottom left;
	background-image:url('/img/layout/bottomleft.png');
	background-repeat:no-repeat;		
}
#tableContainer .top.edge{
	background-position:top;
	background-image:url('/img/layout/top.png');
	background-repeat:repeat-x;		
}
#tableContainer .left.edge{
	background-position:left;
	background-image:url('/img/layout/left.png');
	background-repeat:repeat-y;			
}
#tableContainer .right.edge{
	background-position:right;
	background-image:url('/img/layout/right.png');
	background-repeat:repeat-y;			
}
#tableContainer .bottom.edge{
	background-position:bottom;
	background-image:url('/img/layout/bottom.png');
	background-repeat:repeat-x;		
}
#tableContainer .bg-main{
	padding:10px;
	background-image:url('/img/layout/back.png');	
}

#tableContainer .top{
	height:25px;
} 	
#tableContainer .bottom{
	height:30px;	
}
#tableContainer .left{
	width:35px;
} 
#tableContainer .right{
	width:40px;	
}

/* LT GREY */
#container-light table{
	padding:0px;
	margin:0px;	
}
#container-light .top.left{
	background-position:top left;
	background-image:url('/img/layout/topleft-light.png');
	background-repeat:no-repeat;
}
#container-light .top.right{
	background-position:top right;
	background-image:url('/img/layout/topright-light.png');
	background-repeat:no-repeat;	
}
#container-light .bottom.right{
	background-position:bottom right;
	background-image:url('/img/layout/bottomright-light.png');
	background-repeat:no-repeat;		
}
#container-light .bottom.left{
	background-position:bottom left;
	background-image:url('/img/layout/bottomleft-light.png');
	background-repeat:no-repeat;		
}
#container-light .top.edge{
	background-position:top;
	background-image:url('/img/layout/top-light.png');
	background-repeat:repeat-x;		
}
#container-light .left.edge{
	background-position:left;
	background-image:url('/img/layout/left-light.png');
	background-repeat:repeat-y;			
}
#container-light .right.edge{
	background-position:right;
	background-image:url('/img/layout/right-light.png');
	background-repeat:repeat-y;			
}
#container-light .bottom.edge{
	background-position:bottom;
	background-image:url('/img/layout/bottom-light.png');
	background-repeat:repeat-x;		
}
#container-light .bg-main{
	padding:10px;
	background-image:url('/img/layout/back-light.png');	
}
#container-light .top{
	height:20px;
} 	
#container-light .bottom{
	height:20px;	
}
#container-light .left{
	width:25px;
} 
#container-light .right{
	width:20px;	
}