/*

		@kvk cont bubbles jQ plugin :D

*/

.kvkContBubbles {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
}

.kvkContBubbles div.item {
	width: 300px;
	position: absolute;
}

.kvkContBubbles div.corner {
	width: 15px;
	height: 15px;
	background: url(/img/kvkbubble/sprite.png) left top no-repeat;
	position: absolute;
}

.kvkContBubbles div.corner.left {
	left: 0;
}

.kvkContBubbles div.corner.right {
	right: 0;
}

.kvkContBubbles div.corner.top {
	top: 0;
}

.kvkContBubbles div.corner.bottom {
	bottom: 0;
}

.kvkContBubbles div.corner.left.top {
	background-position: 0 0;
}

.kvkContBubbles div.corner.left.bottom {
	background-position: 0 -16px;
}

.kvkContBubbles div.corner.right.top {
	background-position: -16px 0;
}

.kvkContBubbles div.corner.right.bottom {
	background-position: -16px -16px;
}

.kvkContBubbles div.fill.top, .kvkContBubbles div.fill.bottom {
	height: 15px;
	margin: 0 15px 0 15px;
	position: relative;
}

.kvkContBubbles div.fill.rest {
	margin: 0 !important;
	position: absolute;
	right: 15px;
}

.kvkContBubbles div.fill.rest.top {
	top: 0;
}

.kvkContBubbles div.fill.rest.bottom {
	bottom: 0;
}

.kvkContBubbles div.fill.top {
	background: url(/img/kvkbubble/fill-top.png) left top repeat-x;
}

.kvkContBubbles div.fill.bottom {
	background: url(/img/kvkbubble/fill-bottom.png) left top repeat-x;
}

.kvkContBubbles div.fill.left, .kvkContBubbles div.fill.right {
	width: 100%;
	height: auto;
	position: relative;
}

.kvkContBubbles div.fill.left {
	background: url(/img/kvkbubble/fill-left.png) left top repeat-y;
}

.kvkContBubbles div.fill.right {
	background: url(/img/kvkbubble/fill-right.png) right top repeat-y;
}

.kvkContBubbles div.cont {
	margin: 0 15px 0 15px;
	line-height: 20px;
	text-align: justify;
	background: url(/img/kvkbubble/fill.png) left top repeat;
}

.kvkContBubbles div.cont a, .kvkContBubbles div.cont a:hover {
	display: block;
	color: black;
	text-decoration: none;
}

.kvkContBubbles div.cont a:hover {
	text-decoration: underline;
}

.kvkContBubbles div.tail {
	background: url(/img/kvkbubble/sprite.png) left top no-repeat;
	position: absolute;
}

.kvkContBubbles div.item.left.bottom div.tail, .kvkContBubbles div.item.left.top div.tail,
.kvkContBubbles div.item.right.bottom div.tail, .kvkContBubbles div.item.right.top div.tail {
	width: 49px;
	height: 48px;
}

.kvkContBubbles div.item.middle.bottom div.tail, .kvkContBubbles div.item.middle.top div.tail {
	width: 32px;
	height: 50px;
}

.kvkContBubbles div.item.middle.left div.tail, .kvkContBubbles div.item.middle.right div.tail {
	width: 42px;
	height: 32px;
}

.kvkContBubbles div.item.left.bottom div.tail {
	background-position: -1px -54px;
	left: 25px;
	bottom: -33px;
}

.kvkContBubbles div.item.left.top div.tail {
	background-position: -103px -54px;
	left: 25px;
	top: -33px;
}

.kvkContBubbles div.item.right.bottom div.tail {
	background-position: -51px -54px;
	right: 25px;
	bottom: -33px;
}

.kvkContBubbles div.item.right.top div.tail {
	background-position: -153px -54px;
	right: 25px;
	top: -33px;
}

.kvkContBubbles div.item.middle.bottom div.tail {
	background-position: -33px -1px;
	bottom: -35px;
}

.kvkContBubbles div.item.middle.top div.tail {
	background-position: -66px -1px;
	top: -35px;
}

.kvkContBubbles div.item.middle.left div.tail {
	background-position: -145px -3px;
}

.kvkContBubbles div.item.middle.right div.tail {
	background-position: -103px -3px;
}

.kvkContBubbles div.fakeItem {
	position: absolute;
	padding: 9px;
	line-height: 20px;
	background: #8cd55c;
	text-align: justify;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.kvkContBubbles div.fakeItem p {
	display: none;
}