@charset "utf-8";
/* CSS Document */


input, select{
	background-color:#CCC;
	border-color:#CCC;
	color:#333;
	border-radius: 3px;
	
	border-style:solid;
	padding:3px;
	margin-top:2px;
	font-size:14px;
}

span.one{
	color: #FBB040;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
	text-align:left;
}

span.two{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
}

span.three{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 16px;
}

span.four{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:left;
}

span.five{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:left;
	font-weight:bold
}

span.six{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
}

span.seven{
	color: #333;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
}

a.nav{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration:none;
	color:#000;
}

a.nav:hover{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration:none;
	color:#FFFFFF;
}

a.whitelink{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
	text-decoration:underline;
}

input.two{
	color: #333;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FBB040;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

img.one{
	padding-top: 7px;
}

body{
	width: 100%;
	max-width: 1366px;
	background-color:#333;
	background-repeat:no-repeat;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}

#background{
	width:100%;
	position:absolute;
	top: 0px;
	left: 0px;
}

#wrapper{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
}

#mainHeader{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:1;
	height:41px;
	background-image:url(/img/flyfoenix_header.png);
	background-repeat:repeat-x;
}

#logoHeader{
	position: relative;
	top: 0px;
	left:0px;
	width: 1367px;
	height: 41px;
	z-index: 2;
}

#caption{
	position: relative;
	top: 22px;
	left: 330px;
	z-index: 3;
}

#logoFlyFoenix{
	position: absolute;
	margin-top: 2px;
	margin-left: 10px;
	z-index: 3;
}

#bodyHeader{
	margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    position: relative;
    width: 532px;
    z-index: 5;
	height:97px;
	background-image:url(/img/landing/flyfoenix_landingpage_lightgraybig.png);
	background-repeat:no-repeat;
}

#join{
	margin-left: 74px;
    margin-top: -28px;
    position: relative;
    z-index: 5;
}


/*Body Container Elements*/
#bodyContainerDark{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	width: 532px;
	background-image:url(/img/landing/flyfoenix_landingpage_darkgray.png);
	background-repeat:no-repeat;
	height: 381px;
}

#register{
	
    position:absolute;
    top: 15px;
    z-index: 6;
	width: 249px;
	left: 15px;
	height:340px;
	background-image:url(/img/landing/flyfoenix_landingpage_lightgraysmall.png);
	background-repeat:no-repeat;
}

#registerimg{
	left: 21px;
    position: relative;
    top: 5px;
}

#login{
	
    position: absolute;
    top: 15px;
	left:260px;
    z-index: 6;
	width:249px;
	height:340px;
	background-image:url(/img/landing/flyfoenix_landingpage_lightgraysmall.png);
	background-repeat:no-repeat;
	
}

#loginimg{
	left:19px;
    position: relative;
    top: 11px;
}

#fb1{
	left: 38px;
    position: relative;
    top: 4px;
}

#or1{
	left: 100px;
    position: relative;
    top: 15px;
}

#or2{
	left: 100px;
    position: relative;
    top: 20px;
}

#email{
	left: 30px;
    position: relative;
    top: 25px;
}

#birthdate{
	position:relative;
	left:30px;
	top:35px;
}

#gender{
	position:relative;
	left:30px;
	top:45px;
}

#tradio{
	left: 87px;
    margin-top: 28px;
    position: relative;
}



#female{
	margin-left:11px;
}

#school{
	margin-left: 30px;
    margin-top: -14px;
}

.fieldwidth{
	width:180px;
}

#fb2{
	left: 48px;
    position: relative;
    top: 10px;
}

#email2{
	left: 30px;
    position: relative;
    top: 31px;
}

#birthdate2{
	left: 30px;
    position: relative;
    top: 45px;
}

#btnregister{
	float: right;
    margin-right: 38px;
    margin-top: 12px;
}

#btnlogin{
	float: right;
    margin-right: 35px;
    margin-top: 60px;
}

#rememberme{
	position:relative;
	top:100px;
	left:102px;
}

#sliderwrapper{
	
}

#slider{
	
}

#grayline{
	padding-top:9px;
	padding-bottom: 9px;
	padding-left: 5px;
}

	
/*End Body Container Elements*/
