@charset "utf-8";
/* CSS Document */

span.one{
	color: #FBB040;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
	text-align:left;
}

span.two{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
}

span.three{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 16px;
}

span.four{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:left;
}

span.five{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:left;
	font-weight:bold
}

a.nav{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration:none;
	color:#000;
}

a.nav:hover{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration:none;
	color:#FFFFFF;
}

a.whitelink{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
	text-decoration:underline;
}

input, select{
	background-color:#CCC;
	border-color:#CCC;
	color:#333;
}

input.one{
	color: #333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #FBB040;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

img.one{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    width: 77px;
}

body{
	width: 100%;
	background-color:#333;
	background-repeat:no-repeat;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}

#background{
	width:100%;
	position:absolute;
	top: 0px;
	left: 0px;
}

#wrapper{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
}

#mainHeader{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:1;
	height:41px;
	background-image:url(/img/flyfoenix_header.png);
	background-repeat:repeat-x;
}

#logoHeader{
	position: relative;
	top: 0px;
	left:0px;
	width: 1367px;
	height: 41px;
	z-index: 2;
}

#caption{
	position: relative;
	top: 22px;
	left: 330px;
	z-index: 3;
}

#navigate{
	left: 940px;
    position: fixed;
    top: 19px;
    width: 500px;
    z-index: 3;
}

#logoFlyFoenix{
	position: absolute;
	margin-top: 2px;
	margin-left: 10px;
	z-index: 3;
}

#bodyHeader{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 70px;
	width: 972px;
	height:97px;
	z-index: 5;
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_lightgrayheader.png);
	background-repeat:no-repeat;
}

#selector{
	float: right;
    position: relative;
    right: 30px;
    width: 150px
}

#gender{
	float: right;
    margin-top: -25px;
    position: relative;
}

#logoschool{
	float: right;
    margin-top: 20px;
    position: relative;
}

#cart{
	float: right;
	margin-top: 22px;
}

#favorite{
	float: right;
	margin-top: 7px;
}

#search{
	float: right;
	margin-top: 7px;
}

#campuscouturelogo{
	left: 20px;
    position: relative;
    top: 20px;
    z-index: 5;
}

#buynowtag{
	left: 360px;
    position: absolute;
    top: -20px;
    z-index: 5;
}

#counter{
	font-size: 22px;
    left: 403px;
    position: absolute;
    text-align: left;
    top: 55px;
    z-index: 5;
}

#overlayTopCenter{
	z-index: 1;
}

/*Body Container Elements*/
#bodyContainerDark{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
	width: 972px;
	background-image: url(/img/productpresentation/flyfoenix_product_presentation_darkgraymain.png);
	background-repeat:no-repeat;
	height:564px;
}

#overlayDark{
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 972px;
	z-index: 4;
}

#comments{
	left: 7px;
    position: absolute;
    top: 7px;
    z-index: 5;
}

#buytwo{
	float: right;
    margin-right: 23.5px;
    margin-top: 9.5px;
}

#leftarrow{
	position: absolute;
	left: 8px;
	top:240px;
	z-index:5;
}

#rightarrow{
	position: absolute;
	top: 240px;
	right: 21px;
	z-index: 5;
}

#viewer{
	position: absolute;
	left: 60px;
	top: 54px;
	width: 580px;
	height:446px;
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_lightgraymain.png);
	background-repeat: no-repeat;	
	z-index: 6;
	background-position:center;
}


#sliderwrapper{
	
}

#slider{
	
}



#productname{
	display: block;
    font-weight: bold;
    padding-top: 3px;
    text-align: center;
    width: 351px;
}

#uniquefeatures{
 	float: left;
    width: 112px;
	margin-top:15px;
}

#uftext{
	text-align: center;
    width: 112px;
	display:block;
}

#mainphoto{
    width: 351px;
	height:401px;
	display:inline-block;
	margin-top:15px;
}

#thumbnails{
	float: right;
    width: 112px;
	margin-top:15px;
}

#thumbtext{
	width: 112px;
	text-align:center;
	display:block;
}	

#content{
	position: absolute;
	margin-top: 50px;
	margin-left: 640px;
	width: 260px;
	z-index: 6;	
}

#earn5{
	position:relative;
	margin-left: -8px;
}

#sharethis{
	height:37px;
}

#inventory{
	font-size: 16px;
	margin-left: 5px;
}

#description{
	position: relative;
	left: 6px;
}

#grayline{
	padding-top:9px;
	padding-bottom: 9px;
	padding-left: 5px;
}

#size{
	margin-left: 6px;
}

#quantity{
	margin-left: 20px;
}

#addtocart{
	position:relative;
	left: 6px;
	top:16px;
}
	
/*End Body Container Elements*/

	