@charset "utf-8";
/* CSS Document */
body{
	    font-family: Arial,Helvetica,sans-serif;
}
input, select{
	background-color:#CCC;
	border-color:#CCC;
	color:#333;
	border-radius: 5px;
}
input, select{
	background-color:#CCC;
	border-color:#CCC;
	color:#333;
	border-radius: 5px;
	padding:5px;
	font-size:14px;
}
.one{
	color: #FBB040;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
	text-align:left;
}

.two{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
}

.three{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
}

.four{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:left;
}

.five{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:left;
	font-weight:bold
}

a.nav{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration:none;
	color:#000;
}

a.nav:hover{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration:none;
	color:#FFFFFF;
}

a.whitelink{
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
	text-decoration:underline;
}

input, select{
	background-color:#CCC;
	border-color:#CCC;
	color:#333;
}

input.one{
	color: #333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #FBB040;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

img.one{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    width: 77px;
}

body{
	width: 100%;
	background-color:#333;
	background-repeat:no-repeat;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}

#background{
	width:100%;
	position:absolute;
	top: 0px;
	left: 0px;
}

#wrapper{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
}

#mainHeader{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:1;
	height:41px;
	background-image:url(/img/flyfoenix_header.png);
	background-repeat:repeat-x;
}

#logoHeader{
	position: relative;
	top: 0px;
	left:0px;
	width: 1367px;
	height: 41px;
	z-index: 2;
}

#caption{
	position: relative;
	top: 22px;
	left: 330px;
	z-index: 3;
}

#navigate{
    position:relative;
    top:3px;
    right:10px;
    
    text-align:right; 
}

#logoFlyFoenix{
	position: absolute;
	margin-top: 2px;
	margin-left: 10px;
	z-index: 3;
}

#bodyHeader{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 70px;
	width: 972px;
	height:97px;
	z-index: 5;
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_lightgrayheader.png);
	background-repeat:no-repeat;
}

#selector{
	float: right;
    position: relative;
    right: 30px;
    width: 150px
}

#gender{
	float: right;
    margin-top: -25px;
    position: relative;
}

#logoschool{
	float: right;
    margin-top: 20px;
    position: relative;
}

#cart{
	float: right;
	margin-top: 22px;
}

#favorite{
	display:block;
	float: right;
	margin-top: 7px;
	background-repeat:no-repeat;
	width:14px;
	height:13px;
}

#favorite.heart-no{
	background-image:url('/img/ajax/heart_small.png');	
}
#favorite.heart{
	background-image:url('/img/ajax/heart_small_red.png');	
}

#search{
	float: right;
	margin-top: 7px;
}

#mfg-logo{
	left: 20px;
    position: relative;
    top: 20px;
    z-index: 5;
}

#buynowtag{
	left: 360px;
    position: absolute;
    top: -20px;
    z-index: 5;
}

#counter{
	font-size: 22px;
    left: 403px;
    position: absolute;
    text-align: left;
    top: 55px;
    z-index: 5;
}

#overlayTopCenter{
	z-index: 1;
}

/*Body Container Elements*/
#bodyContainerDark{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
	width: 972px;
	background-image: url(/img/productpresentation/flyfoenix_product_presentation_darkgraymain.png);
	background-repeat:no-repeat;
	height:564px;
}

#overlayDark{
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 972px;
	z-index: 4;
}

#comments{
	left: 7px;
    position: absolute;
    top: 7px;
    z-index: 5;
}

#buytwo{
	float: right;
    margin-right: 23.5px;
    margin-top: 9.5px;
}

#leftarrow{
	position: absolute;
	left: 8px;
	top:240px;
	z-index:15;
	
	width:36px;
	height:50px;
	
}
a #leftarrow {
	text-decoration:none;
		
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_elements_lbutton.png);
	background-repeat:no-repeat;	
}
a #leftarrow:hover{
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_elements_lbuttonorange.png);	
}

#rightarrow{
	position: absolute;
	top: 240px;
	right: 21px;
	z-index: 15;
	
	width:36px;
	height:50px;
	
}
a #rightarrow {
	text-decoration:none;
		
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_rbutton.png);
	background-repeat:no-repeat;
}
a #rightarrow:hover{
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_elements_rbuttonorange.png);
}

#leftarrow.hidden, #rightarrow.hidden {
	display:none;	
}

.viewer{
	position: absolute;
	left: 45px;
	top: 45px;
	width: 580px;
	height:446px;
	background-image:url(/img/productpresentation/flyfoenix_product_presentation_lightgraymain.png);
	background-repeat: no-repeat;	
	z-index: 6;
	background-position:center;
}


#sliderwrapper{
	position:absolute;
	top:12px;
	left:12px;
	
	height:525px;
	width:935px;
	
	overflow:hidden;
}
#sliderpane{
	position:absolute;	
}
.slider{
	position:absolute;
	width:935px;
	height:525px;	
}

.slider .product-loading {
	background-image:url(/img/loading.gif);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#000;	
}



#productname{
	display: block;
    font-weight: bold;
    padding-top: 3px;
    text-align: center;
    width: 351px;
}

#uniquefeatures{
 	float: left;
    width: 112px;
	margin-top:15px;
}

#uftext{
	text-align: center;

	padding-left:10px;
	
	width:100px;
}

.mainphoto{
    width: 351px;
	height:401px;
	display:block;
	
	position:absolute;
	top:15px;
	left:115px;
}

#thumbnails{
	position:absolute;
	right:10px;
	top:15px;

	width:88px;
}
.gallery-thumb, .feature-thumb{
	display:block;
}
.thumb-wrapper, .feature-wrapper{
	padding-top:10px;
	width:88px;
	height:90px;
	overflow:hidden;	
}
#thumbtext{
	text-align:center;
	display:block;
}	

#content{
	position: absolute;
	margin-top: 40px;
	margin-left: 630px;
	width: 260px;
	z-index: 6;	
}

#earn5{
	position:relative;
	margin-left: -8px;
}

#sharethis{
	height:37px;
}

#inventory{
	font-size: 16px;
	margin-left: 5px;
}

#description{
	position: relative;
	left: 6px;
}

#grayline{
	padding-top:9px;
	padding-bottom: 9px;
	padding-left: 5px;
}
.size-qty-wrapper{
	padding-top:5px;	
}
.size{
	display:inline-block;
	margin-left: 6px;
	float:left;
}
.size select{
	border-style:none;
	border-width:0px;
	margin:0px;
	width:100px;	
}
.quantity{
	display:inline-block;
	float:right;
	margin-left:20px;
}
.quantity input{
	width:100px;
	border:none;
	text-align:right;	
}
.add-to-cart, .checkout, .cancel-checkout{
	margin-top:10px;
	margin-left:5px;
	font-weight:normal;
	cursor:pointer;
}
.cancel-checkout{
	margin-left:30px;	
}
.checkout, .cancel-checkout{
	float:right;	
}
/*End Body Container Elements*/

//mioZoom
.mioZoomWrapper{
	background-color:#333;
}

/* DETAILS OF PRODUCT */
.product-details{
	
	font-size:14px;
	color:#FFF;
	padding:2px;	
}
.product-details th{
	font-weight:bold;	
}
.product-details.right{
		
}
.product-details.left{
	
	margin-left:6px;
}
.product-details td, .product-details th{
	text-align:center;
	padding:2px 5px 0px 5px;
}
.title {
	color: #FBB040;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
	text-align:left;
	font-size:14px;
	padding-left:6px;
}
a.whitelink.chart {
	padding-top:10px;
	padding-left:6px;
	display:inline-block;
		
}
.attribute-detail {
	position:absolute; 
	bottom:0px; 
	left:0px; 
	display:none;  
	color:#FFF;	
	padding:10px;
	font-style:italic;
	font-size:16px;
	font-weight:bold;
	opacity:.50;
	alpha(opacity=50);
	background-color:#333;
}

#list-schools{
	max-height:100px;
	overflow:auto;
}
#list-schools a{
	color:#FFF;
	text-decoration:none;
	padding:5px;
	display:inline-block;	
}
#list-schools li{
	padding-right:50px;	
}
#list-schools li.loading{
	background-image:url(/img/ajax/loading.gif);
	background-position:95% center;
	background-repeat:no-repeat;	
}
#list-schools li.added{
	background-image:url(/img/ajax/check.png);
	background-position:95% center;
	background-repeat:no-repeat;
}
#list-schools li.fail{
	background-image:url(/img/ajax/fail.png);
	background-position:95% center;
	background-repeat:no-repeat;
}
#list-schools li.heart{
	background-image:url(/img/ajax/heart_red.png);
	background-position:95% center;
	background-repeat:no-repeat;
}
#list-schools li.even{
	background-color:transparent;	
}
#list-schools li.odd{
	padding-top:0px;
	background-color:#999;	
}
#list-schools li:hover{
	background-color:#333;
}

p.checkout-pop-count {
	margin-top:30px;
	padding-bottom:5px;
	font-size:16px;	
}
#cart-wrapper table{
	width:100%;
}
#cart-wrapper th{
	color:#FFF;
	font-weight:bold;
	font-size:16px;
	text-align:center;
}
#cart-wrapper td{
	font-size:14px;
	padding:5px;	
}
#cart-wrapper input.qty{
	width:50px;
	text-align:right;
	border:none;
}
#cart-wrapper .cart-one{
	width:60px;
}
#cart-wrapper .cart-two{
	width:auto;
}
#cart-wrapper .cart-three{
	width:80px;
}
#cart-wrapper .cart-details span{
	padding-left:20px;	
}
#cart-wrapper .cart-total{
	font-weight:bold;
	font-size:16px;	
}
#cart-wrapper .cart-trash{
	cursor:pointer;	
}