@CHARSET "ISO-8859-1";
.sale-wrapper{
	margin-top:10px;	
}
.sale.info{
	display:inline;
	float:left;
	padding:10px 0px 10px 10px;
}
.sale.expire .text{
	color:#CCC;	
}
.sale.expire{
	float:right;
	display:inline;	
	padding:10px 10px 10px 0px;
	color:#FFF;
	font-style:normal;
}
.preview-wrapper{
	float:left;
	width:280px;
	padding:0px 0px 10px 11px;
}
.preview-wrapper.pad-right{
	padding-right:10px;	
}
.preview-wrapper.pad-top{
	/*padding-top:5px;*/
}
.preview-wrapper .image-wrapper{
	overflow:hidden;
	height:320px;
	background-image:url('/img/ajax/loading.gif');
	background-position:center center;
	background-repeat:no-repeat;	
}
.preview-wrapper .info{
	height:55px;
	background-color:#444;
	border-top:solid #333 2px;
	overflow:hidden;
}
.preview-wrapper .price-wrapper{
	padding:5px;
	float:right;
	text-align:center;
	color:#333;
	background-color:#AAA;
	height:55px;	
}
.price-wrapper .member{
	font-size:22px;
	font-weight:bolder;
}
.price-wrapper .retail{
	float:left;
	text-decoration:line-through;
	font-size:12px;
}
.product-about{
	width:215px;
	padding:5px 0px 5px 5px;
}
.product-about .mfg{
	font-size:14px;
	font-weight:bold;
}
.product-about .name{
	font-size:12px;
}
.sale1, .sale4{
	background-color:#555;	
}
.sale2, .sale5{
	background-color:#888;
}
.sale3, .sale6{
	/*background-color:#BBB;*/
}


/* VIEWER */
/* POPUP */
#viewer-blackout{
	display:none;
	
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	
	opacity:.7;
	filter:alpha(opacity=70);
	
	background-color:#FFF;	
	
}
#loader-overlay{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	
	padding-top:30%;
	
	text-align:center;
	vertical-align:middle;
	
	background-color:#333;
}
#viewer-pop{
	display:none;
	
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:2;
	
	background-color:#333;
	border:solid #333 2px;
	
	width:920px;
	
	margin:20px auto;
	padding:0px 0px 0px 10px;
	
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;

}